<p>Hey {{ name }},</p>
<p>Please click below to change password</p>
<p>
    <a href="{{ url }}">Confirm</a>

<form action="{{ url }}" method="post"><button type="submit">OKE</button></form>
</p>

<p>If you did not request this email you can safely ignore it.</p>